<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1> Criket Team  page </h1>
<h1> Team name :{{team}} </h1>
<h2> Cpatain :{{captain}} </h2>
<h2> Trophy :{{trophy}} </h2>

{% for i in team %}

<h3> "{{i}}" </h3>

{% endfor %}

{% for i in  player%}

<h3> "{{i}}" </h3>

{% endfor %}

{% if trophy >= 5  %}
  <h1> csk </h1>
  {% else %}
  <h1>evry other team  </h1>
  {% endif %}


</body>
</html>